<div class="container">
    <div class="row mt-5">
        <div *ngFor="let p of allProducts" class="col-3">
            <div class="card border-0 shadow-sm" style="width: 100%;">
                <img src="{{p.image}}" class="card-img-top" alt="" height="200px" style="object-fit: contain;">
                <div class="card-body">
                  <h5 class="card-title">{{p.title}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{p.category}}</li>
                  <li class="list-group-item">{{p.rating.rate}}</li>
                  <li class="list-group-item">{{p.rating.count}}</li>
                </ul>
                <div class="card-body">
                    <a [routerLink]="['/detail', p.id]">Link</a>
                </div>
              </div>
        </div>
    </div>
</div>